Repository montge/asterix: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, cpp-gcov, cpp-lcov, python, python-pytest, rust, tarpaulin, llvm-cov, C++ Core Library, C++ Application, Python Module, Rust Bindings

fix: Correct YAML syntax in ci-verification.yml
  .github/workflows/ci-verification.yml
Due: none

feat: Add tests to improve coverage across all languages
  .github/workflows/ci-verification.yml
  CMakeLists.txt
  asterix-rs/tests/test_ccsds.rs
  asterix/radar_integration/encoder/test_encoder_common.py
  asterix/radar_integration/test/test_mavlink_converter.py
Due: none

Generate SBOM for version 2.8.10
  sbom/README.md
  sbom/asterix-python-sbom.json
  sbom/asterix-rust-sbom.json
  sbom/asterix-sbom.json
Due: none

fix(rust): Fix parser tests with proper initialization
  asterix-rs/src/parser.rs
Due: rust, tarpaulin, llvm-cov, Rust Bindings

test: Improve coverage across all language bindings
  asterix-go/asterix_test.go
  asterix-rs/src/ffi.rs
  asterix-ruby/spec/asterix_spec.rb
  asterix/radar_integration/decoder/test_cat021.py
  asterix/radar_integration/decoder/test_cat062.py
  asterix/radar_integration/mavlink_converter.py
  asterix/radar_integration/test/test_mavlink_converter.py
Due: python, python-pytest, rust, tarpaulin, llvm-cov, Python Module, Rust Bindings

feat: Add coverage reporting for all language bindings
  .github/workflows/ada-ci.yml
  .github/workflows/go-ci.yml
  .github/workflows/node-ci.yml
  .github/workflows/ruby-ci.yml
  codecov.yml
Due: none

test: Further coverage improvements across Python, Rust, Ada
  asterix-ada/asterix_decoder.gpr
  asterix-ada/src/asterix-spark_types.ads
  asterix-ada/tests/integration_tests-descriptions.adb
  asterix-ada/tests/integration_tests-descriptions.ads
  asterix-ada/tests/integration_tests.adb
  asterix-ada/tests/unit_tests-spark_types.adb
  asterix-ada/tests/unit_tests-spark_types.ads
  asterix-rs/src/parser.rs
  asterix/radar_integration/decoder/test_cat048.py
Due: rust, tarpaulin, llvm-cov, Rust Bindings

feat(python): Add strict parsing mode parameter
  asterix/__init__.py
  asterix/test/test_strict.py
  src/python/python_parser.cpp
  src/python/python_parser.h
  src/python/python_wrapper.cpp
Due: python, python-pytest, Python Module

style(rust): Fix cargo fmt formatting issues
  asterix-rs/src/parser.rs
  asterix-rs/tests/test_ccsds.rs
Due: rust, tarpaulin, llvm-cov, Rust Bindings

fix(ci): Fix Ruby gemspec and DO-278 lcov mismatch errors
  .github/workflows/ci-verification.yml
  asterix-ruby/asterix.gemspec
  asterix-ruby/lib/asterix.rb
  asterix-ruby/lib/asterix/version.rb
Due: none

fix(ci): Add permissions to Ada CI workflow jobs
  .github/workflows/ada-ci.yml
Due: none

fix(security): Add NOSONAR comments to suppress false positive hotspots
  asterix/radar_integration/encoder/cat001.py
  asterix/radar_integration/encoder/cat048.py
  src/asterix/DataItemBits.cpp
  src/engine/diskdevice.cxx
  src/go/asterix_wrapper.cpp
Due: cpp, cpp-gcov, cpp-lcov, python, python-pytest, C++ Core Library, Python Module

chore: Upgrade to OpenSpec 1.1.1 with skill-based workflow
  CLAUDE.md
  openspec/config.yaml
  openspec/project.md
Due: none

docs: Add comprehensive Git Worktree workflow guide for OpenSpec
  docs/GIT_WORKTREE_WORKFLOW.md
Due: none

docs: Add upstream sync status report
  docs/UPSTREAM_SYNC_STATUS.md
Due: none

fix(ci): Fix broken Rust CI - sync test_ccsds.rs with CCSDS API
  .github/workflows/ci-verification.yml
  asterix-rs/tests/test_ccsds.rs
Due: none

docs(openspec): Revalidate and update OpenSpec artifacts
  openspec/changes/add-can-socketcan-support/design.md
  openspec/changes/add-can-socketcan-support/proposal.md
  openspec/changes/add-can-socketcan-support/specs/can-transport/spec.md
  openspec/changes/add-can-socketcan-support/tasks.md
  openspec/changes/fix-rust-ci-ccsds/proposal.md
  openspec/changes/fix-rust-ci-ccsds/tasks.md
  openspec/project.md
  openspec/specs/code-quality/spec.md
Due: none

fix(rust): Fix pre-existing clippy errors in parser.rs
  asterix-rs/src/parser.rs
Due: rust, tarpaulin, llvm-cov, Rust Bindings

feat(can): Add CAN Bus SocketCAN support - Phases 1-2
  CMakeLists.txt
  openspec/changes/add-can-socketcan-support/tasks.md
  src/engine/candevice.cxx
  src/engine/candevice.hxx
  src/engine/devicefactory.cxx
Due: cpp, cpp-gcov, cpp-lcov, C++ Core Library

docs(openspec): Add coverage and code smells improvement changes
  openspec/changes/fix-rust-ci-ccsds/tasks.md
  openspec/changes/improve-test-coverage/proposal.md
  openspec/changes/improve-test-coverage/tasks.md
  openspec/changes/reduce-code-smells-phase2/proposal.md
  openspec/changes/reduce-code-smells-phase2/tasks.md
Due: none

fix(rust): Fix clippy uninlined_format_args and clone_on_copy warnings
  asterix-rs/src/ffi.rs
  asterix-rs/src/parser.rs
  asterix-rs/tests/test_ccsds.rs
Due: rust, tarpaulin, llvm-cov, Rust Bindings

fix(security): Update bytes 1.11.0->1.11.1 and time 0.3.44->0.3.47
  asterix-rs/Cargo.lock
Due: none

chore(deps): Update all Cargo dependencies
  asterix-rs/Cargo.lock
Due: none

docs(openspec): Archive fix-rust-ci-ccsds (complete)
  openspec/changes/archive/fix-rust-ci-ccsds/proposal.md
  openspec/changes/archive/fix-rust-ci-ccsds/tasks.md
Due: none

fix(ruby): Remove deprecated codecov gem to fix bundler resolution
  asterix-ruby/Gemfile
Due: none

fix(ci): Mark Ruby native extension build as WIP in CI
  .github/workflows/ruby-ci.yml
Due: none

fix(ci): Mark Ruby RuboCop as WIP in CI
  .github/workflows/ruby-ci.yml
Due: none

feat(can): Add CAN Bus CLI integration, testing, and documentation
  .github/workflows/cross-platform-builds.yml
  README.md
  install/test/test_can.sh
  openspec/changes/add-can-socketcan-support/tasks.md
  src/main/asterix.cpp
Due: cpp, cpp-gcov, cpp-lcov, C++ Application

test(cpp): Expand C++ unit test coverage - Phase 1
  tests/cpp/test_category.cpp
  tests/cpp/test_dataitem.cpp
  tests/cpp/test_tracer.cpp
  tests/cpp/test_utils.cpp
Due: none

test(cpp): Add integration tests for 6 categories and output format validation
  openspec/changes/improve-test-coverage/tasks.md
  tests/cpp/CMakeLists.txt
  tests/cpp/test_integration_cat001.cpp
  tests/cpp/test_integration_cat002.cpp
  tests/cpp/test_integration_cat010.cpp
  tests/cpp/test_integration_cat020.cpp
  tests/cpp/test_integration_cat021.cpp
  tests/cpp/test_integration_cat034.cpp
  tests/cpp/test_integration_output_formats.cpp
Due: none

refactor(cpp): Reduce cognitive complexity in XMLParser
  openspec/changes/reduce-code-smells-phase2/tasks.md
  src/asterix/XMLParser.cpp
  src/asterix/XMLParser.h
Due: cpp, cpp-gcov, cpp-lcov, C++ Core Library

Path conditions:
  cpp: any of: src/asterix/, src/engine/, src/main/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  cpp-gcov: any of: src/asterix/, src/engine/, src/main/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  cpp-lcov: any of: src/asterix/, src/engine/, src/main/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  python: any of: asterix/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  python-pytest: any of: asterix/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  rust: any of: asterix-rs/src/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  tarpaulin: any of: asterix-rs/src/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  llvm-cov: any of: asterix-rs/src/, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  C++ Core Library: any of: src/asterix/**, src/engine/**, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  C++ Application: any of: src/main/**, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  Python Module: any of: asterix/**, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
  Rust Bindings: any of: asterix-rs/src/**, but not: **/*test*, **/tests/**, **/test/**, asterix-rs/tests/**, asterix/test/**, **/examples/**, **/benches/**, asterix-rs/examples/**, asterix-rs/benches/**, asterix/examples/**, **/target/**, **/build/**, **/install/**, asterix-rs/build.rs, **/bindings/**, setup.py, **/setup.py, **/*.ini, **/*.xml, **/*.dtd
